{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <h1 class="col">Chaves</h1>
        <a class="col-auto" href="{{url_for('view.viewAllKeys')}}"><small>Ver todas</small></a>
    </div>
    
    <div class="card-group row-cols-4 mt-2">
        {% for key in keys %}
        <a class="text-decoration-none" href="{{url_for('view.viewKey', key_slug=key.slug)}}">
            <div class="card">
                <div class="card-body">
                    <h3>{{key.name}}</h3>
                    <small>
                        {% if key.key_avaliable %}
                        <span class="text-success">Disponível</span>
                        {% else %}
                        <span class="text-danger">Em uso</span>
                        {% endif %}
                    </small>
                </div>
            </div>
        </a>
        {% endfor %}
        <a class="text-decoration-none" href="{{url_for('view.viewAllKeys')}}">
            <div class="card">
                <div class="card-body link-secondary">
                    <h3>Ver Todas</h3>
                    <small>Vizualizar todas as chaves</small>
                </div>
            </div>
        </a>
    </div>
    
    <div class="row mt-5">
        <h2 class="col">Por Categorias</h2>
        <a class="col-auto" href="{{url_for('view.viewAllCategories')}}"><small>Ver todas</small></a>
    </div>
    <div class="card-group row-cols-4 mt-2">
        {% for category in categories %}
        <a class="text-decoration-none" href="{{url_for('view.viewCat', category_slug=category.slug)}}">
            <div class="card">
                <div class="card-body">
                    <h3>{{category.name}}</h3>
                </div>
            </div>
        </a>
        {% endfor %}
        <a class="text-decoration-none" href="{{url_for('view.viewAllCategories')}}">
            <div class="card">
                <div class="card-body link-secondary">
                    <h3>Ver Todas</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="row mt-5">
        <h2 class="col">Últimos Registros</h2>
        <a class="col-auto" href="{{url_for('view.viewAllRegistries')}}"><small>Ver todos</small></a>
    </div>
    <div class="card-group mt-2">
        <div class="card">
            <div class="car-body">
                <table class="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <td class="col-auto text-center">Data de Empréstimo</td>
                            <td class="col-auto text-center">Chave</td>
                            <td class="col-auto text-center">Responsável</td>
                            <td class="col-auto text-center">Status</td>
                            <td class="col-auto text-center">link</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for registry in registries %}
                        <tr>
                            <td class="col-auto text-center">{{ registry.key_loan_date.strftime("%d/%m/%Y às %H:%M") }}</td>
                            {% for name in key_names.filter_by(id=registry.key_id).all() %}
                            <td class="col-auto text-center">{{ name.name }}</td>
                            {% endfor %}
                            <td class="col-auto text-center">{{ registry.holder_name }}</td>
                            <td class="col-auto text-center">
                                {% if registry.key_return_date %}
                                <span>Devolvido</span>
                                {% else %}
                                <span class="text-danger">Pendente</span>
                                {% endif %}
                            </td>
                            <td class="col-auto text-center">
                                <a class="text-decoration-none" href="{{url_for('view.viewReg', reg_id=registry.id)}}">Vizualizar</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="col-auto text-center" colspan="5">
                                <a class="text-decoration-none link-secondary" href="{{url_for('view.viewAllRegistries')}}">Ver Tudo</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}