{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <h1 class="col">Chaves</h1>
        <a class="col-auto" href="{{url_for('view.viewAllKeys')}}"><small>Ver todas</small></a>
    </div>
    
    <div class="card-group row-cols-4 mt-2">
        {% for key in keys %}
        <a class="text-decoration-none" href="{{url_for('view.viewKey', key_slug=key.slug)}}">
            <div class="card">
                <div class="card-body">
                    <h3>{{key.name}}</h3>
                    <small>
                        {% if key.key_avaliable %}
                        <span class="text-success">Disponível</span>
                        {% else %}
                        <span class="text-danger">Em uso</span>
                        {% endif %}
                    </small>
                </div>
            </div>
        </a>
        {% endfor %}
        <a class="text-decoration-none" href="{{url_for('view.viewAllKeys')}}">
            <div class="card">
                <div class="card-body link-secondary">
                    <h3>Ver Todas</h3>
                    <small>Vizualizar todas as chaves</small>
                </div>
            </div>
        </a>
    </div>
    
    <div class="row mt-5">
        <h2 class="col">Por Categorias</h2>
        <a class="col-auto" href="{{url_for('view.viewAllCategories')}}"><small>Ver todas</small></a>
    </div>
    <div class="card-group row-cols-4 mt-2">
        {% for category in categories %}
        <a class="text-decoration-none" href="{{url_for('view.viewCat', category_slug=category.slug)}}">
            <div class="card">
                <div class="card-body">
                    <h3>{{category.name}}</h3>
                </div>
            </div>
        </a>
        {% endfor %}
        <a class="text-decoration-none" href="{{url_for('view.viewAllCategories')}}">
            <div class="card">
                <div class="card-body link-secondary">
                    <h3>Ver Todas</h3>
                </div>
            </div>
        </a>
    </div>
{% endblock %}