{% extends 'base.html' %}

{% block content %}
<div class="mt-4">
    <h1 class="col-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-key col-auto" viewBox="0 0 16 16">
            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        <span>Chaves</span>
    </h1>
</div>
<div class="card mt-2">
    <div class="card-body">
        <h2>Nome: {{ key.name }}</h2>
        <p>Categorias: <a href="{{url_for('view.viewCat', category_slug=categories.slug)}}">{{categories.name}}</a></p>
        {% if key.key_avaliable %}
        <p class="text-success">Uso: Disponivel</p>
        {% else %}
        <p class="text-danger">Uso: Em uso</p>
        {% endif %}
        <p><small class="text-muted">Data de criação: {{ key.creation_date.strftime("%d/%m/%Y")}}</small><p>
        {% if session.get("user_permission", 'normal') != 'normal' %}
        <a class="btn btn-outline-primary" href="{{url_for('edit.editKey', key_slug=key.slug)}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <span>Editar</span>
        </a>
        <!-- modal -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">
            Excluir
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
        <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">Excluir permanentemente este item? </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span>Aviso ao clickar em Confirmar Exclusão você excluirá permanentemente o item. Deseja realmente excluí-lo permanentemente?</span>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger" href="{{url_for('delete.delKey', key_slug=key.slug)}}">Sim Confirmar Exclusão</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
        {% endif %}
    </div>
</div>
<div class="mt-5">
    <h2 class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
        </svg>
        <span>Histórico</span>
    </h2>

</div>
<div class="card">
    <div class="card-body">
        {% if registry %}
        <table class="table">
            <thead class="bg-secondary text-white">
                <tr>
                    <td class="col-auto text-center">Data de Empréstimo</td>
                    <td class="col-auto text-center">Responsável</td>
                    <td class="col-auto text-center">link</td>
                </tr>
            </thead>
            <tbody>
                {% for registry in registry %}
                <tr>
                    <td class="col-auto text-center">{{ registry.key_loan_date.strftime("%d/%m/%Y") }}</td>
                    <td class="col-auto text-center">{{ registry.holder_name }}</td>
                    <td class="col-auto text-center">                    
                        <a class="text-decoration-none" href="{{url_for('view.viewReg', reg_id=registry.id)}}">Vizualizar</a>
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="card">
            <div class="car-body">
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-x col-auto mt-2" viewBox="0 0 16 16">
                        <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    <div class="col-auto">
                        <p class="text-muted h3 "><small class="text-muted">Registros não encontrados!</small></p>
                        <p><small class="text-muted h6">Crie novos registros para que eles sejam listados aqui</a></small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
