<footer class="container-fluid sticky-bottom mt-4 mb-2">
    <a class="btn-primary text-decoration-none mt-2 row" href="#begin"><span class="text-center g-col-auto">Início</span></a>
    <div>
        <div class="row">
            <div class="col fw-bobld">KMApp.com</div>
            <div class="col fw-bold">Contact</div>
            <div class="col fw-bold">Social Media</div>
        </div>
        <div class="row">
            <div class="col ">About</div>
            <div class="col">Email</div>
            <div class="col">Facebook</div>
        </div>
        <div class="row">
            <div class="col text-break">This is the best and biggest web development course project with Flask and Python.</div>
            <div class="col">Phone</div>
            <div class="col">Instagram</div>
        </div>
        <div class="row">
            <div class="col">Created by:</div>
            <div class="col">localization</div>
            <div class="col">Twitter</div>
        </div>
    </div>
</footer>
<div class="text-center bg-dark row mb-0"><span class="text-light g-col-auto">© All Rights Reserved 2021</span></div>
