{% extends "base.html" %}{% block content %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#news-content',
        height: 500,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
      });
</script>
<div class="container">
    <!-- formulário -->
    <form action="{{action}}" class="form-control text-center mt-5 mb-5" method="post">
        {{ form.csrf_token }}
        <h1 class="text-center mt-2 mb-2">Cadastrar nova Notícia</h1>
        <p class="text-center mt-2 mb-2"><small>Os campos com <span class="text-danger text-center mt-2 mb-2">*</span> são obrigatórios </small></p>
        <label class="form-label mt-4">Título da Notícia<span class="text-danger">*</span></label>
        <div class="col-sm-auto">
                {% if news %}{{ form.title(class="form-control", size="94", placeholder="Título da Notícia", value=news.title) }}
                {% else %}{{ form.title(class="form-control", size="94", placeholder="Título da Notícia") }}{% endif %}
        </div>
        <label class="form-label text-center mt-4">Conteúdo<span class="text-danger">*</span></label>
        <div class="col-sm-auto mb-4">
            {% if news %}
                {{ form.content(class="form-control", id="news-content", value=news.content, style="height: 300px") }}
            {% else %}
                {{ form.content(class="form-control", id="news-content", style="height: 300px") }}
            {% endif %}
        </div>
        <div class="justify-contents-center">{{form.send(class="btn btn-success mb-5")}}</div>
    </form>
    <!-- formulário -->
</div>{% endblock %}