{% extends 'base.html' %}
{% block content %}
<form action="{{action}}" method="post" class="form-control mt-2 mb-2">
    {{ form.csrf_token }}
    <div class="row mt-2">
            <label class="form-label col-sm-1">Conta<span class="text-danger">*</span></label>
            <div class="col-sm-auto">
                {{ form.account(class="form-control", placeholder="Email ou Username") }}
            </div>
        </div>
        <div class="row mt-2">
            <label class="form-label col-sm-1">Senha<span class="text-danger">*</span></label>
            <div class="col-sm-auto">
                {{ form.password(class="form-control", placeholder="Senha") }}
            </div>
        </div>
        {{ form.send(class="btn btn-primary mb-3") }}
</form>
{% endblock %}