{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{{ action }}" class="form-control mt-5" method="post">
        
        {{ form.csrf_token }}
        <div class=""><h1>Entrar</h1></div>
        <div class="row mt-2">
                <label class="form-label col-sm-1">Conta<span class="text-danger">*</span></label>
                <div class="col-sm-auto">
                    {{ form.account(class="form-control", placeholder="Email ou Username") }}
                </div>
            </div>
            <div class="row mt-2">
                <label class="form-label col-sm-1">Senha<span class="text-danger">*</span></label>
                <div class="col-sm-auto">
                    {{ form.password(class="form-control", placeholder="Senha") }}
                </div>
            </div>
            <!-- <div class="mt-2 mb-2">
                {#{ form.remenberMe(class="form-check-input") }#}
                <label for="remenberMe" class="form-check-label">Lembrar deste usuário</label>
            </div> -->
            {{ form.send(class="btn btn-primary mb-3") }}
            <div class="mb-3">
                <small class="text-muted"> Não possui conta clique em
                    <a href="{{url_for('cadastro.newUser')}}" class="link-info">Cadastrar-se</a>
                    para criar uma conta agora mesmo!
                </small>
            </div>
        
    </form>
</div>
{% endblock %}
