{% extends "base.html" %}

{% block conteudo %}
    {% from 'bootstrap/form.html' import render_form %}
	{# <form action="{{ url_for('register') }}" method="POST">
		<table>
			<tr>
			<td>Nome Completo</td>
			<td><input type="text" name="name"></td>
			</tr>
			<tr>
			<td>Nome do Usuário</td>
			<td><input type="text" name="username"></td>
			</tr>
			<tr>
			<td>Email</td>
			<td><input type="text" name="email"></td>
			</tr>
			<td>Telefone</td>
			<td><input type="text" name="phone"></td>
			</tr>
			<tr>
			<td>Senha</td>
			<td><input type="text" name="password"></td>
			</tr>
			<tr>
			<td>Data de cadastro</td>
			<td><input type="date" name="date"></td>
			</tr>
			<tr>
			<td>Nivél de Acesso</td>
			<td><select name="level">
				<option value="admin">Administrador</option>
				<option value="editor">Editor</option>
				<option value="user">Usuário</option>
			</select></td>
			</tr>
									
		</table>
		<br>
		<input type="submit" value="Cadastrar">
		</form> #}
    {{ render_form(formUser,action=action,method="post") }}
{% endblock %}
