{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row justify-content-center mt-2">
		<div class="col-10">
			<form class="form-control" action="{{ action }}" method="post">
				{{ form.csrf_token }}
				<p class="mb-0 text-center mb-4"><small class="text-muted col-auto ">Campos com <span class="text-danger">*</span> são campos obrigátorios</small></p>
				
				<label class="form-label col-auto">Telefone</label>
				{{ form.phone(class="form-control col", value=user.phone) }}
						
				<label class="form-label col-auto">Nome completo<span class="text-danger">*</span></label>
				{{ form.name(size=20, class="form-control col", value=user.name) }}	
				
				<label class="form-label col-auto">E-mail<span class="text-danger">*</span></label>
				{{ form.email(size=20, class="form-control col", value=user.email) }}	
				
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmChanges">Salvar</button>
                <div class="modal fade" id="confirmChanges" tabindex="-1" aria-labelledby="confirmChangesLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Confirmar Mundanças</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Username</label>
                                {{ form.username(class="form-control", id="recipient-name") }}
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Senha</label>
                                {{ form.password(class="form-control", id="password-text")}}
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Confirmar Senha</label>
                                <input class="form-control" type="password" name="confirm_password" id="password-text">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                {{ form.send(class='btn btn-success g-col-auto', value="Confirmar") }}
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
			</form>
		</div>
	</div>
</div>
<script type="text-javascript">
	(function () {
		'use strict'
	  
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.querySelectorAll('.needs-validation')
	  
		// Loop over them and prevent submission
		Array.prototype.slice.call(forms)
		  .forEach(function (form) {
			form.addEventListener('submit', function (event) {
			  if (!form.checkValidity()) {
				event.preventDefault()
				event.stopPropagation()
			  }
	  
			  form.classList.add('was-validated')
			}, false)
		  })
	  })()
</script>

{% endblock %}