{% extends 'base.html' %}

{% block content %}

    <div class=" card-group row">
        <div class="card">
            <div class="card-body">
                <h1 class="text-muted text-center">Bem Vindo!</h1>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="g-col-auto bi bi-cone-striped" viewBox="0 0 16 16">
                        <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                    </svg>
                </div>
                <h6 class="text-muted text-center col-auto">Site em Construção</h6>
                <p class="text-muted text-center ">Alguns erros inesperados podem acontecer!</p>
            </div>
        </div>
        
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true"><a class="link-light text-decoration-none" href="{{url_for('index')}}">Home</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="{{url_for('view.viewIndex')}}">CHAVES DISPONÍVEIS</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="{{url_for('login')}}">LOGIN</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="{{url_for('cadastro.newUser')}}">CADASTRAR-SE</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="{{url_for('admin.admHome')}}">OPÇÕES ADMINISTRATIVAS</a></li>
        </ul>
    <div class="mt-2">
        <h1>Notícias</h1>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h3>Atualização 02/12/2021</h3>
                    <p>
                        <ul>
                            <li>Modularização das rotas relacionadas ao cadastro</li>
                            <li>Criação de uma pasta com os templates dos formularios</li>
                            <li>Correção de bug naredenrização dos formularios</li>
                            <li>Criação de uma pasta com os templates dos formularios</li>
                            <li>Criação do formReg</li>
                        </ul>
                        <small class="text-muted">02/12/2021 17:17</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Atualização 02/12/2021</h3>
                    <p>
                        <ul>
                            <li>Atualização visual do Index</li>
                            <li>Adição de seção de atualizações é noticias no Index</li>
                            <li>Correção de bug na posição Footer</li>
                        </ul>
                        <small class="text-muted">02/12/2021 11:40</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

   
{% endblock %}
