{% extends 'base.html' %}{% block content %}
    <div class=" card-group row mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="text-muted text-center">Bem Vindo!</h1>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="g-col-auto bi bi-cone-striped" viewBox="0 0 16 16">
                        <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                    </svg>
                </div>
                <h6 class="text-muted text-center col-auto">Site em Construção</h6>
                <p class="text-muted text-center ">Alguns erros inesperados podem acontecer!</p>
            </div>
        </div>
    {% if keys %}
        <div class="container-fluid">
            <div class="row mt-4">
                <h1 class="col">Chaves</h1>
                <a class="col-auto" href="{{url_for('view.viewAllKeys')}}"><small>Ver todas</small></a>
            </div>
            <div class="card-group row-cols-4 mt-2">
                {% for key in keys %}
                <a class="text-decoration-none" href="{{url_for('view.viewKey', key_slug=key.slug)}}">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{key.name}}</h3>
                            <small>
                                {% if key.key_avaliable %}<span class="text-success">Disponível</span>
                                {% else %}<span class="text-danger">Em uso</span>{% endif %}
                            </small>
                        </div>
                    </div>
                </a>
                {% endfor %}
                <a class="text-decoration-none" href="{{url_for('view.viewAllKeys')}}">
                    <div class="card">
                        <div class="card-body link-secondary">
                            <h3>Ver Todas</h3>
                            <small>Vizualizar todas as chaves</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}{% if categories %}    
            <div class="row mt-5">
                <h2 class="col">Por Categorias</h2>
                <a class="col-auto" href="{{url_for('view.viewAllCategories')}}"><small>Ver todas</small></a>
            </div>
            <div class="card-group row-cols-4 mt-2">
                {% for category in categories %}
                <a class="text-decoration-none" href="{{url_for('view.viewCat', category_slug=category.slug)}}">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{category.name}}</h3>
                        </div>
                    </div>
                </a>
                {% endfor %}
                <a class="text-decoration-none" href="{{url_for('view.viewAllCategories')}}">
                    <div class="card">
                        <div class="card-body link-secondary">
                            <h3>Ver Todas</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}{% if registries%}
            <div class="row mt-5">
                <h2 class="col">Últimos Registros</h2>
                <a class="col-auto" href="{{url_for('view.viewAllRegistries')}}"><small>Ver todos</small></a>
            </div>
            <div class="card-group mt-2">
                <div class="card">
                    <div class="car-body">
                        <table class="table">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <td class="col-auto text-center">Data de Empréstimo</td>
                                    <td class="col-auto text-center">Chave</td>
                                    <td class="col-auto text-center">Responsável</td>
                                    <td class="col-auto text-center">Status</td>
                                    <td class="col-auto text-center">link</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for registry in registries %}
                                <tr>
                                    <td class="col-auto text-center">{{ registry.key_loan_date.strftime("%d/%m/%Y às %H:%M") }}</td>
                                    {% for name in key_names.filter_by(id=registry.key_id).all() %}
                                    <td class="col-auto text-center">{{ name.name }}</td>
                                    {% endfor %}
                                    <td class="col-auto text-center">{{ registry.holder_name }}</td>
                                    <td class="col-auto text-center">
                                        {% if registry.key_return_date %}<span>Devolvido</span>
                                        {% else %}<span class="text-danger">Pendente</span>{% endif %}
                                    </td>
                                    <td class="col-auto text-center">
                                        <a class="text-decoration-none" href="{{url_for('view.viewReg', reg_id=registry.id)}}">Vizualizar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="col-auto text-center" colspan="5">
                                        <a class="text-decoration-none link-secondary" href="{{url_for('view.viewAllRegistries')}}">Ver Tudo</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
        {% endif %}
        <!-- Noticías -->
        <div class="accordion accordion-flush mt-5 mb-5" id="accordionFlush">
            <h2>Notícias</h2>
            {% for noticia in news %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{noticia.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{noticia.id}}" aria-expanded="false" aria-controls="flush-collapse{{noticia.id}}">
                        {{noticia.title}}
                    </button>
                </h2>
                <div id="flush-collapse{{noticia.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{noticia.id}}" data-bs-parent="#accordionFlush">
                    <div class="accordion-body">{{noticia.content}}<p><small class="text-muted">{{noticia.date.strftime("%d/%m/%Y às %H:%M")}}</small></p></div>
                </div>
            </div>
            {% else %}
                <div class="card">
                    <div class="card-body text-muted">
                        <h3>Notícias ainda não foram cadastradas ainda</h3>
                        <small><a href="{{ url_for('cadastro.newNews') }}">Cadastre</a> uma notícia para que ela apareça aqui</small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Noticías -->
{% endblock %}
