{% extends 'base.html' %}
{% block content %}
    <form class="form-control" action="{{action}}" method="post">
        {{form.csrf_token}}
        <div class="row">
            <div class="col-sm-auto">
                {{form.username(class="form-control", placeholder="Pesquisar usuário")}}
            </div>
            {{form.search(class="btn btn-success col-auto")}}
        </div>
    </form>
    <div class="card-group row-cols-1">
        {% for user in users %}
        <a class="text-decoration-none" href="{{url_for('view.viewUser', user_username=user.username)}}">
            <div class="card mt-2">
                <div class="card-body">
                    <h3>{{user.username}}</h3>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}